@CHARSET "ISO-8859-1";

html>body h1{
    position:fixed;
    _position:absolute; /* hack for internet explorer 6*/ 
    left:350px;  
    top:0px;
    margin-top: -5px;
    font-size:3em; 
}

html>body h3{
    position:fixed;
    _position:absolute; /* hack for internet explorer 6*/ 
    right:50px;  
    top:0px;
    margin-top: -5px;
    font-size:2em; 
}

#other_options{
	 position:fixed;
    _position:absolute; /* hack for internet explorer 6*/ 
    right:10px;  
    top:50px;
    width: 200px;
    height: 90%;
    margin-top: -5px;
    background:#77d5f7;
    z-index:100; 
    display:none;
}

#other_options a{
	font-size:1.5em;
	align:left;
}

input, select, textarea, file, checkbox, radio {
    font-size: 1em;
}

input#sku {
    font-size: 1.5em;
    font-weight: bold;
}

select#payment_method {
    font-size: 1.5em;
    font-weight: bold;
}

/* start search part */

html>body fieldset#search_part{
    top:40px;
    padding: 0px;
    border: none;
    position:fixed;
    _position:absolute; /* hack for internet explorer 6*/
}

html>body fieldset#search_part ol {
	list-style:none;	
}

html>body fieldset#search_part ol li label{
    font-weight: normal;
    float: right;
    text-align: right;
}

html>body fieldset#search_part ol li label input{
    width:145px;
}

html>body fieldset#search_part ol li label select{
    width:150px;
    margin-right: 20px;
}

#currencies_value{
    margin-right: 20px;
}
/* end search part */
/* start totals part*/

html>body fieldset#totals_div{
    right:15px;
    top:40%; 
    padding: 0px;
    border: none;
    position:fixed;
    _position:absolute; /* hack for internet explorer 6*/
}

html>body fieldset#totals_div ol {
    list-style:none;    
}

html>body fieldset#totals_div ol li label{
    font-weight: normal;
    float: right;
    text-align: left;
    font-size: 1.5em;
}

html>body fieldset#totals_div ol li label input{
    text-align: left;
}

/* end totals part */

#search_customer{
	float:right;
	margin:5px;
	line-height:17px;
}

#payment_extra_buttons{
    right:15px;
    width:50px;
    bottom:20%; 
    float:right;
}

html>body fieldset#customer_div{
	display:none;  
    position:fixed;  
    _position:absolute; /* hack for internet explorer 6*/  
    width:400px;  
    height:408px;
    z-index:21;  
    background:#FFFFFF;  
    border:2px solid #cecece;    
    padding:12px;  
}
html>body fieldset#customer_div ol {
    list-style:none;    
}

html>body fieldset#customer_div ol li label{
    font-weight: normal;
    float: right;
    text-align: right;
}

html>body fieldset#customer_div ol li label input{
    text-align: right;
}


/* start item table*/

html>body table#item_table{
    position:absolute; 
    top:140px;
    z-index:-1;
}

html>body table#item_table thead tr {
    display: block;
}
html>body table#item_table thead th {
    width: 18px;
}

html>body table#item_table thead th + th {
    width: 70px;
}

html>body table#item_table thead th + th + th {
    width: 190px;
}

html>body table#item_table thead th + th + th + th {
    width: 255px;
}

html>body table#item_table thead th + th + th + th + th {
    width: 80px;
}

html>body table#item_table thead th + th + th + th + th + th {
    width: 80px;
}

html>body table#item_table thead th + th + th + th + th + th + th {
    width: 15px;
}

html>body table#item_table tbody {
    display: block;
    overflow: auto;
    width: 100%;
    height: 350px;
}

html>body table#item_table tbody td {
    width: 18px;
}

html>body table#item_table tbody td + td {
    width: 70px;
}

html>body table#item_table tbody td + td + td {
    width: 190px;
}

html>body table#item_table tbody td + td + td + td {
    width: 255px;
}

html>body table#item_table tbody td + td + td + td + td {
    width: 80px;
}

html>body table#item_table tbody td + td + td + td + td + td {
    width: 80px;
}


html>body table#item_table tfoot tr {
    display: block;
}
html>body table#item_table tfoot th {
    width: 18px;
}

html>body table#item_table tfoot th + th {
    width: 70px;
}

html>body table#item_table tfoot th + th + th {
    width: 190px;
}

html>body table#item_table tfoot th + th + th + th {
    width: 255px;
}

html>body table#item_table tfoot th + th + th + th + th {
    width: 80px;
}

html>body table#item_table tfoot th + th + th + th + th + th {
    width: 80px;
}

html>body table#item_table tfoot th + th + th + th + th + th + th {
    width: 15px;
}
/* end item table*/

/* start payment table*/

html>body table#payment_table{
    position:absolute;
    right:15px;
    bottom:20px;
}
html>body table#payment_table caption a{
	float: left;
}
html>body table#payment_table caption {
    align: left;
    padding: 5px;
}

html>body table#payment_table thead tr {
    display: block;
}
html>body table#payment_table thead th {
    width: 18px;
}

html>body table#payment_table thead th + th {
    width: 136px;
}

html>body table#payment_table thead th + th + th {
    width: 85px;
    align: right;
}

html>body table#payment_table thead th + th + th + th {
    width: 15px;
}
	
html>body table#payment_table tbody {
    display: block;
    height: 100px;
    overflow: auto;
}

html>body table#payment_table tbody td {
    width: 18px;
}

html>body table#payment_table tbody td + td {
    width: 136px;
}

html>body table#payment_table tbody td + td + td {
    width: 85px;
    align: left;
}

html>body table#payment_table tfoot tr {
    display: block;
}
html>body table#payment_table tfoot th {
    width: 18px;
}

html>body table#payment_table tfoot th + th {
    width: 136px;
}

html>body table#payment_table tfoot th + th + th {
    width: 85px;
}

html>body table#payment_table tfoot th + th + th + th {
    width: 15px;
}

/* end payment table*/

html>body footer{
	position:absolute; 
    bottom:5px;
    left:5px;
    font-size: 1em;
}	

html>body img#curr_image{
    position:fixed;
    _position:absolute; /* hack for internet explorer 6*/ 
    left:400px;  
    top:35px;  
    height:100px;
    border:1px solid #cecece;
    transition: width 2s;
    -moz-transition: width 2s; /* Firefox 4 */
    -webkit-transition: width 2s; /* Safari and Chrome */
    -o-transition: width 2s; /* Opera */
}

html>body img#curr_image:hover{
	height:300px;
}

a:link, a:visited, a:active {
    color: #ffffff;
}

<!-- styles for ajax popup

#backgroundPopup{
    display:none;
    position:fixed;
    _position:absolute; /* hack for internet explorer 6*/ 
    border:1px solid #cecece;
    z-index:10;
}

#popupPayment{    
    display:none;  
    position:fixed;  
    _position:absolute; /* hack for internet explorer 6*/  
    height:400px;  
    width:408px;  
    background:#FFFFFF;  
    border:2px solid #cecece;  
    z-index:20;  
    padding:12px;  
}  

#popupOtherTrans{
    display:none;  
    position:fixed;  
    _position:absolute; /* hack for internet explorer 6*/  
    height:400px;  
    width:1050px;  
    background:#FFFFFF;  
    border:2px solid #cecece;  
    z-index:25;  
    padding:12px;  
}
-->
