# +-----------------------------------------------------------------+
# |                   PhreeBooks Open Source ERP                    |
# +-----------------------------------------------------------------+
# | Copyright(c) 2008-2013 PhreeSoft, LLC (www.PhreeSoft.com)       |
# +-----------------------------------------------------------------+
# | This program is free software: you can redistribute it and/or   |
# | modify it under the terms of the GNU General Public License as  |
# | published by the Free Software Foundation, either version 3 of  |
# | the License, or any later version.                              |
# |                                                                 |
# | This program is distributed in the hope that it will be useful, |
# | but WITHOUT ANY WARRANTY; without even the implied warranty of  |
# | MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the   |
# | GNU General Public License for more details.                    |
# +-----------------------------------------------------------------+
#  Path: /.htacces
#
#
# This is used with Apache WebServers
#
# The following blocks direct HTTP requests to all file types in this directory recursively, except certain approved exceptions
# It also prevents the ability of any scripts to run. No type of script, be it PHP, PERL or whatever, can normally be executed if ExecCGI is disabled.
# Will also prevent people from seeing what is in the dir. and any sub-directories
#
# For this to work, you must include either 'All' or at least: 'Limit' and 'Indexes' parameters to the AllowOverride configuration in your apache/conf/httpd.conf file.
# Additionally, if you want the added protection offered by the OPTIONS directive below, you'll need to add 'Options' to the AllowOverride list, if 'All' is not specified. 
# Example:
#<Directory "/usr/local/apache/htdocs">
#  AllowOverride Limit Options Indexes
#</Directory>
###############################


ErrorDocument 400 '<h1>Sorry! 400 Bad Request</h1>           <p>The request cannot be fulfilled due to bad syntax.</p>'
ErrorDocument 403 '<h1>Sorry! 403 Forbidden Request</h1>     <p>The server has refused to fulfill your request.</p>'
ErrorDocument 404 '<h1>Sorry! 404 Page Not Found </h1>       <p>The page you requested was not found on this server.</p>'
ErrorDocument 405 '<h1>Sorry! 405 Method Not Allowed </h1>   <p>The method specified in the request is not allowed for the specified resource.</p>'
ErrorDocument 408 '<h1>Sorry! 408 Request Timeout</h1>       <p>Your browser failed to send a request in the time allowed by the server.</p>'
ErrorDocument 500 '<h1>Sorry! 500 Internal Server Error</h1> <p>The request was unsuccessful due to an unexpected condition encountered by the server.</p>'
ErrorDocument 502 '<h1>Sorry! 502 Bad Gateway</h1>           <p>The server received an invalid response while trying to carry out the request.</p>'
ErrorDocument 504 '<h1>Sorry! 504 Gateway Timeout</h1>       <p>The upstream server failed to send a request in the time allowed by the server.</p>'

## NOTE: If you want even greater security to prevent hackers from running scripts in this folder, uncomment the following line (if your hosting company will allow you to use OPTIONS):
OPTIONS -Indexes -ExecCGI
